<h1> New Post </h1>
<%= bootstrap_form_for @post do |f| %>
  
  <%= f.text_field :title %>

  
  <%= f.text_field :url %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%#= f.label :vote %>
  <!-- <%#= f.text_field :vote %> -->

  <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>
